{% assign col = site.headbar.theme_color %}

{% if col == "indigo" %}
#3F51B5
{% endif %}
{% if col =="red" %}
#F44336
{% endif %}
{% if col == "pink" %}
#E91E63
{% endif %}
{% if col == "purple" %}
#9C27B0
{% endif %}
{% if col == "deep-purple" %}
#673AB7
{% endif %}
{% if col == "blue" %}
#2196F3
{% endif %}
{% if col == "light-blue" %}
#03A9F4
{% endif %}
{% if col == "cyan" %}
#00BCD4
{% endif %}
{% if col == "teal" %}
#009688
{% endif %}
{% if col == "green" %}
#4CAF50
{% endif %}
{% if col == "light-green" %}
#8BC34A
{% endif %}
{% if col == "lime" %}
#CDDC39
{% endif %}
{% if col == "yellow" %}
#FFEB3B
{% endif %}
{% if col == "amber" %}
#FFC107
{% endif %}
{% if col == "orange" %}
#FF9800
{% endif %}
{% if col == "deep-orange" %}
#FF5722
{% endif %}
{% if col == "brown" %}
#795548
{% endif %}
{% if col == "grey" %}
#9E9E9E
{% endif %}
{% if col == "blue-grey" %}
#607D8B
{% endif %}
