{% for ta in site.pages %}
{% assign tag = ta.url %}
{% endfor %}
<button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '标签', delay: 100}" mdui-menu="{target: '#k-page-tag',align:'right',covered:false}"><i class="mdui-icon material-icons">bookmark</i></button>
<ul  class="mdui-menu" id="k-page-tag">
    {% for t in page.tags %}
    <li class="mdui-menu-item">
         <a id="tag_{{t}}" class="mdui-text-center" href="{{tag | prepend: site.baseurl }}" class="mdui-ripple">{{t}}</a> 
    </li>
    {% endfor %}
</ul>
