<link rel="stylesheet" href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css">
<script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
<script>
$(document).ready(function () {
    NProgress.configure({
    showSpinner: true
});
NProgress.start();
$('#nprogress .bar').css({
    'background': '{% include colour_detect.html %}'
});
$('#nprogress .peg').css({
    'box-shadow': '0 0 10px {% include colour_detect.html %}, 0 0 15px {% include colour_detect.html %}'
});
$('#nprogress .spinner-icon').css({
    'border-top-color': '{% include colour_detect.html %}',
    'border-left-color': '{% include colour_detect.html %}'
});
setTimeout(function() {
    NProgress.done();
},6);
    
});

</script>
