---
layout: compress
---

<!DOCTYPE html>
<html lang="{{site.lang}}">
    {% include head.html %}
    <body>
        {% include components/totop.html %}
        {% include header.html %}
        <div class="mdui-container container">
            <section class="content">
                {{ content }}
            </section>
        </div>
        {% if site.google_analytics != "" %}
        {% include components/google.html %}
        {% endif %}
        {% if site.baidu_auto_push == true %}
        {% include components/baidu.html %}
        {% endif %}
        {% include components/sw.html %}
        {% include components/customCssJS.html %}
        {% include footer.html %}
        {% if site.cute.enable == true%}
         {% if site.cute.live2d == true%}
           {% include cute/live2d.html %}
         {% endif %}
           {% include cute/title.html %}
           {% include cute/cursor.html %}
           {% include cute/console.html %}
           {% include cute/background.html %}
           {% include cute/card.html %}
            {% if site.cute.music_player == "cplayer" %}
                {% include cute/cplayer.html %}
            {% endif %}
            {% if site.cute.music_player == "aplayer"%}
                {% include cute/aplayer.html %}
            {% endif %}
        {% endif %}
    </body>
</html>
